<%- contentFor('header') %>
<header class="flex flex-col text-indigo-500 w-full h-auto">
  <nav class="flex justify-between items-center p-8">
    <div id="logo" class="flex">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z" />
      </svg>
      <h5 class="tracking-wide">Overheard</h5>
    </div>
    <ul class="tracking-wide">
      <%- include('./logoutButton') %>
    </ul>
  </nav>
</header>

<%- contentFor('main') %>
<section id="feed" class="grid grid-cols-4 gap-4">
  <article id="sidebar" class="grid grid-rows-4 pl-8">
    <nav>
      <ul class="flex flex-col gap-3">
        <li class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <a href="http://">Home</a>
        </li>
        <li class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path
              d="M2 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1H3a1 1 0 01-1-1V4zM8 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1H9a1 1 0 01-1-1V4zM15 3a1 1 0 00-1 1v12a1 1 0 001 1h2a1 1 0 001-1V4a1 1 0 00-1-1h-2z" />
          </svg>
          <a href="">Dashboard</a>
        </li>
        <li class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
              clip-rule="evenodd" />
          </svg>
          <a href="http://">Explore Topics</a>
        </li>
      </ul>
    </nav>
    <div class="row-span-3 self-end">
      <form action="/feed/post" method="post" class="flex flex-col" name="editor">
        <h3>Share your<br>thoughts</h3>
        <input type="text" id="title" name="title" placeholder="Title"
          class="border border-1 border-gray-300 my-2 h-10 pl-2">
        <!-- Create the editor container -->
        <div id="editor" class="h-40">
        </div>
        <input type="hidden" name="content">
        <input type="hidden" name="preview">
        <button type="submit"
          class="bg-indigo-500 hover:bg-indigo-700 shadow-lg shadow-indigo-500/50 text-white py-2 px-4 rounded-sm mt-2 w-1/5 self-end tracking-wide">
          Post
        </button>
      </form>
    </div>
  </article>
  <article class="col-span-2">
    <h1>My Feed</h4>
      <div id="platform-content" class="h-[36rem] flex flex-col overflow-y-scroll mt-4">
        <% feed.forEach(data => { %>
        <a href=<%- data.url %>>
          <%- include('./postcard', { data }) %>
        </a>
        <% }) %>
      </div>
  </article>
  <article class="grid grid-rows-4 justify-start">
  </article>
</section>
<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#editor', {
    modules: {
      toolbar: [
        [{
          header: [1, 2, 3, false]
        }],
        ['bold', 'italic', 'underline'],
      ]
    },
    theme: 'snow',
    placeholder: 'What\'s on your mind?'
  });

  let form = document.querySelector('form[name=editor]');
  form.onsubmit = function () {
    let content = document.querySelector('input[name=content]');
    let preview = document.querySelector('input[name=preview]');
    content.value = JSON.stringify(quill.getContents());
    preview.value = quill.getText();
  }
</script>