<%- contentFor('navLogin') %>
<li><a href="/login" class="transform ease-in-out hover:text-indigo-700 ">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24"
      stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
    </svg>
    <span class="font-bold">Log In
    </span>
  </a></li>

<%- contentFor('navLogout') %>
<li>
  <form action="/logout" method="post" class="transform ease-in-out hover:text-indigo-700 ">
    <button type="submit">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24"
        stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
      </svg>
      <span class="font-bold">Log Out
      </span>
    </button>
  </form>
</li>

<%- contentFor('main') %>
<section id="feed" class="grid grid-cols-4 gap-4">
  <article id="sidebar" class="grid grid-rows-4 pl-8">
    <!-- <nav>
      <ul class="flex flex-col gap-3">
        <li class="flex items-center gap-1">
        </li>
      </ul>
    </nav>
    <div class="row-span-3 self-end">
    </div> -->
  </article>

  <article class="col-span-2">
    <a href="/feed" class="flex items-center px-3 text-indigo-500">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
      </svg>
      <span class="font-medium">Back to Feed</span>
    </a>
    <h1 class="px-3"><%= data.postTitle %></h1>
    <div id="post-detail" class="px-3 italic">
      <span>A story by</span>
      <span><%- data.user.name %></span>
    </div>
    <div id="contentBox"></div>
  </article>

  <article class="grid grid-rows-4 justify-start">

  </article>
</section>
<script>
  let contentBox = new Quill('#contentBox', {
    theme: 'bubble',
    readOnly: true
  })

  let content = <%- JSON.stringify(data.postContent) %>
    contentBox.setContents(JSON.parse(content));
</script>